<div data-controller="dropdown" data-dropdown-submit-value="<%= @auto_submit %>" class="relative <%= @class %>">
  <button
    type="button"
    data-action="click->dropdown#toggle"
    class="
      hidden md:flex items-center w-full px-4 py-2 border border-beige-500 rounded-lg
      shadow-sm bg-white text-gray-900 justify-between
    "
  >
    <%= @label %>
    <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"
      />
    </svg>
  </button>
  <div
    data-dropdown-target="menu"
    class="
      hidden absolute z-10 mt-2 min-w-[12rem] bg-white rounded-xl shadow-lg border
      divide-y divide-gray-100 transition-all duration-150
    "
  >
    <% if @form_field && @options.present? %>
      <% @options.each do |option| %>
        <button
          type="button"
          data-action="dropdown#select"
          data-value="<%= option %>"
          class="
            block w-full text-left px-6 py-2 text-gray-800 hover:bg-gray-50 transition
            rounded-none <%= 'font-bold' if option == @selected %>
          "
        >
          <%= option %>
        </button>
      <% end %>
      <input
        type="hidden"
        name="<%= @name %>"
        value="<%= @selected %>"
        data-dropdown-target="hiddenInput"
      />
    <% else %>
      <% items.each do |item| %>
        <%= render item %>
      <% end %>
    <% end %>
  </div>
</div>
