<%= turbo_frame_tag dom_id budget do %>
  <article class="bg-white rounded-lg px-5 py-7 space-y-5">
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-bold text-gray-900 flex items-center gap-4">
        <span class="size-4 bg-<%= budget.theme %> rounded-full inline-block"></span>
        <span><%= budget.category&.name %></span>
      </h2>
      <div data-controller="toggle" class="relative">
        <button
          data-action="toggle#toggle"
          class="
            cursor-pointer px-2 py-3 rounded-full focus:outline-none focus:ring-2
            focus:ring-gray-300
          "
        >
          <%= inline_svg_tag "icon-ellipsis.svg" %>
        </button>
        <div
          data-toggle-target="toggleable"
          class="
            absolute z-10 top-10 right-0 bg-white rounded-xl shadow-lg border divide-y
            divide-gray-100
          "
        >
          <%= link_to "Editar",
          edit_budget_path(budget),
          data: {
            turbo_frame: "budgets_modal",
            action: "click->toggle#hide",
          },
          class:
            " block w-full text-left px-5 py-3 text-gray-800 hover:bg-gray-50 transition rounded-none whitespace-normal break-words rounded-t-xl" %>

          <%= link_to "Eliminar",
          delete_budget_path(budget),
          data: {
            turbo_frame: "budgets_modal",
            action: "click->toggle#hide",
          },
          class:
            " block w-full text-left px-5 py-3 text-gray-800 hover:bg-gray-50 transition rounded-none whitespace-normal break-words rounded-b-xl" %>
        </div>
      </div>
    </div>
    <div class="space-y-4">
      <p class="text-gray-500 text-sm">
        Maximum of $<%= budget.maximum %>
      </p>
      <div class="rounded p-1 bg-beige-100 w-full">
        <span
          style="width: <%= budget.spent_percentage %>%"
          class="bg-<%= budget.theme %> rounded h-6 block"
        ></span>
      </div>
      <div class="flex justify-between">
        <div class="flex gap-4 grow">
          <div class="h-full rounded-lg w-1 bg-<%= budget.theme %> "></div>
          <div class="flex flex-col items-start">
            <span class="color-gray-500 text-xs">Spent</span>
            <span class="color-gray-900 text-sm font-bold">$<%= budget.category.transactions.sum :amount %></span>
          </div>
        </div>
        <div class="flex gap-4 grow">
          <div class="h-full rounded-lg w-1 bg-beige-100"></div>
          <div class="flex flex-col items-start ">
            <span class="color-gray-500 text-xs">Free</span>
            <span class="color-gray-900 text-sm font-bold">$<%= budget.maximum - budget.category.transactions.sum(:amount) %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-beige-100 rounded-xl p-4 pb-0 space-y-5">
      <div class="flex justify-between items-baseline mb-4">
        <h3 class="color-gray-900 font-bold">Latest Spending</h3>
        <div class="flex justify-between items-baseline gap-3">
          <span class="color-gray-500 text-sm hover:underline cursor-pointer">See all</span>
          <span>
            <%= inline_svg_tag "icon-caret-right.svg", class: "inline-block size-3" %>
          </span>
        </div>
      </div>
      <ul class="divide-y divide-gray-500/20">
        <% if budget.category.transactions.size < 1 %>
          <li class="text-gray-500 text-sm text-center py-3">No transactions yet</li>
        <% else %>
          <% budget.category.transactions.each do |item| %>
            <li class="flex justify-between items-center py-3">
              <strong class="text-gray-900 font-bold text-xs"><%= item.name %></strong>
              <div class="flex flex-col items-end">
                <span class="text-gray-900 font-bold text-xs">
                  $<%= item.amount %>
                </span>
                <small class="text-gray-500 text-xs">
                  <%= item.date.strftime("%d %b %Y") %>
                </small>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </article>
<% end %>
