<%= form_with model: @pot do |form| %>
  <% if @pot.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3"
    >
      <h2><%= pluralize(@pot.errors.count, "error") %>
        prohibited this @pot from being saved:</h2>

      <ul class="list-disc ml-6">
        <% @pot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name,
                    placeholder: "e.g. Rainy Days",
                    class: [
                      {
                        "border-gray-400": @pot.errors[:name].none?,
                        "border-red-400": @pot.errors[:name].any?,
                      },
                    ] %>
  </div>

  <div class="my-5">
    <%= form.label :target %>
    <%= form.text_field :target,
                    class: [
                      {
                        "border-gray-400": @pot.errors[:name].none?,
                        "border-red-400": @pot.errors[:name].any?,
                      },
                    ] %>
  </div>

  <div class="my-5">
    <%= form.label :theme %>
    <%= render DropdownComponent.new(
      name: "pot[theme]",
      label: "Select Theme",
      options: color_options,
      selected: @pot.theme,
    ) %>
  </div>

  <%= form.submit class: "btn btn--primary w-full" %>
<% end %>
