<div id="<%= dom_id pot %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= pot.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Target:</strong>
    <%= pot.target %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total:</strong>
    <%= pot.total %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Theme:</strong>
    <%= pot.theme %>
  </div>
</div>
