<% content_for :title, "Pots" %>

<div class="w-full px-4 relative h-full">
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Pots</h1>
    <%= link_to "+ Add New Pot",
    new_pot_path,
    data: {
      turbo_frame: "pots_modal",
    },
    class: "btn btn--primary" %>
  </div>

  <div>
    <% if @pots.any? %>
      <ul id="pots">
        <% @pots.each do |p| %>
          <article class="bg-white rounded-lg px-5 py-7">
            <h2 class="text-xl font-bold text-gray-900 flex items-center gap-4">
              <span class="size-4 bg-green rounded-full inline-block"></span>
              <span><%= p.name %></span>
            </h2>
            <div class="w-full flex items-baseline justify-between">
              <span class="text-gray-500 text-sm leading-tight">Total saved</span>
              <span class="text-3xl font-bold leading-10 text-gray-900">
                $<%= p.total %>
              </span>
            </div>
            <div class="w-full h-2 rounded-full bg-<%= p.theme %> mt-6 mb-3"></div>
            <div class="w-full flex items-baseline justify-between">
              <span class="text-xs text-gray-500 font-bold leading-none">
                <%= pot_percentage(p.total, p.target) %>
                %
              </span>
              <span class="text-xs text-gray-500 leading-none">
                Target of $<%= p.target %>
              </span>
            </div>
            <div class="w-full flex items-center justify-center gap-4 mt-10">
              <button
                class="
                  text-gray-900 text-sm font-bold bg-beige-100 leading-tight text-center py-4 px-7
                  rounded-lg hover:bg-transparent hover:outline hover:outline-beige-500 transition
                  cursor-pointer
                "
              >
                + Add money
              </button>
              <button
                class="
                  text-gray-900 text-sm font-bold bg-beige-100 leading-tight text-center py-4 px-7
                  rounded-lg hover:bg-transparent hover:outline hover:outline-beige-500 transition
                  cursor-pointer
                "
              >
                Withdraw
              </button>
            </div>
          </article>
        <% end %>
      </ul>
    <% else %>
      <p class="text-center my-10">No pots found.</p>
    <% end %>
  </div>
  <turbo-frame id="pots_modal"></turbo-frame>
</div>
