<% if transactions.any? %>
  <div class="hidden md:block">
    <table class="w-full text-left border-separate border-spacing-y-3">
      <thead class="text-sm text-neutral-500">
        <tr>
          <th>Recipient / Sender</th>
          <th>Category</th>
          <th>Transaction Date</th>
          <th class="text-right">Amount</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% transactions.each do |t| %>
          <tr>
            <td class="font-semibold">
              <%= t.name %>
            </td>
            <td>
              <%= t.category&.name %>
            </td>
            <td>
              <%= l(t.date, format: :short) %>
            </td>
            <td
              class="
                text-right font-semibold <%= t.amount < 0 ? 'text-red-500' : 'text-green-500' %>
              "
            >
              <%= parse_amount(t.amount) %>

            </td>
            <td class="text-right">
              <%= link_to "Edit",
              edit_transaction_path(t),
              data: {
                turbo_frame: "transactions_modal",
              },
              class: "text-blue-500 hover:underline text-sm" %>
              <%= link_to "Delete",
              delete_transaction_path(t),
              data: {
                turbo_frame: "transactions_modal",
              },
              class: "text-red-500 hover:underline text-sm ml-4" %>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <hr class="border-0 border-t border-gray-100 m-0 my-3">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy.series_nav %>
  </div>
  <!-- Transactions List (Mobile) -->
  <ul class="md:hidden flex flex-col divide-y divide-gray-100">

    <% transactions.each do |t| %>
      <li class="p-4 flex justify-between items-center">
        <div class="flex-1">
          <p class="font-semibold">
            <%= t.name %>
          </p>
          <p class="text-sm text-neutral-500">
            <%= t.category&.name %>
          </p>
          <div class="mt-2 flex gap-3">
            <%= link_to "Edit",
            edit_transaction_path(t),
            data: {
              turbo_frame: "transactions_modal",
            },
            class: "text-blue-500 hover:underline text-sm" %>
            <%= link_to "Delete",
            delete_transaction_path(t),
            data: {
              turbo_frame: "transactions_modal",
            },
            class: "text-red-500 hover:underline text-sm" %>
          </div>
        </div>
        <div class="text-right">
          <p class="font-semibold <%= t.amount < 0 ? 'text-red-500' : 'text-green-500' %>">
            <%= parse_amount(t.amount) %>
          </p>
          <p class="text-sm text-neutral-500">
            <%= l(t.date, format: :short) %>
          </p>
        </div>
      </li>
    <% end %>
    <!-- Add more list items similarly -->
    <%== pagy.series_nav %>
  </ul>
<% else %>
  <p aria-label="No transactions found" class="text-center my-10">No transactions found.</p>
<% end %>
