<% content_for :title, "Transactions" %>

<div class="px-4 py-6 md:px-10 md:py-8">
  <div class="max-w-4xl mx-auto space-y-10">

    <div class="flex justify-between items-center">
      <h1 class="text-gray-900 text-3xl font-bold leading-10">Transactions</h1>
      <%= link_to "+ Add New Transaction",
      new_transaction_path,
      data: {
        turbo_frame: "transactions_modal",
      },
      class: "btn btn--primary" %>
    </div>
    <section class="bg-white rounded-2xl shadow-md p-4 md:p-8">

      <% if notice.present? %>
        <p
          class="
            py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block
          "
          id="notice"
        >
          <%= notice %>
        </p>
      <% end %>
      <!-- Filter/Search Section -->
      <div class="flex items-center justify-between gap-4 mb-6 ">
        <form
          method="get"
          action="/transactions"
          data-turbo-frame="transaction_table"
          data-turbo-stream="true"
          class="grow md:max-w-sm"
        >
          <label class="sr-only" for="search">Search transactions</label>
          <input
            type="search"
            name="search"
            id="search"
            value="<%= params[:search] %>"
            placeholder="Search transactions..."
            class="w-full border rounded-md p-2"
          />
        </form>
        <%= form_with url: "/transactions", method: :get, data: { turbo_stream: true, turbo: true }, html: { class: "flex justify-end items-center gap-4 h-full" } do |form| %>
          <%= render DropdownComponent.new(
            name: "sort",
            label: "Sort by",
            options: [%w[Latest desc], %w[Oldest asc]],
            selected: params[:sort],
            icon: "icon-sort-mobile.svg",
            autosubmit: true,
          ) %>

          <%= render DropdownComponent.new(
            name: "category",
            label: "Category",
            options:
              [["All Transactions", "all"]] + @categories.map { |c| [c.name, c.id] },
            selected: params[:category],
            icon: "icon-filter-mobile.svg",
            autosubmit: true,
          ) %>

        <% end %>
      </div>

      <turbo-frame id="transaction_table">
        <%= render partial: "transactions/table",
        locals: {
          transactions: @transactions,
          pagy: @pagy,
        } %>
      </turbo-frame>
    </section>
    <turbo-frame id="transactions_modal"></turbo-frame>
  </div>
</div>
